* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cambria,'times new roman';
}

.container {
  width: 100vw;
  height: 30px;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 600;
  color: deeppink;
}

.button-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container button{
  padding: 25px;
  border: 2px solid deeppink;
  border-radius: 10px;
  font: inherit;
  background-color: deeppink;
  color: #ffffff;
  
}