* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 20px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.container-title h1 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #ffffff;
}

.container-image h2,
.container-humidity h2,
.weather-Wind h2 {
  margin: 10px 0;
  font-size: 1.2em;
}

#weatherName {
  font-size: 1.5em;
  font-weight: bold;
  color: #f7f7f7;
}

#weatherTemperature {
  font-size: 2em;
  font-weight: bold;
  color: #fdd835;
}

.container-humidity h2,
.weather-Wind h2 {
  color: #e3f2fd;
  font-size: 1.2em;
}

.container-image,
.container-humidity,
.weather-Wind {
  padding: 10px;
  justify-content: space-between;
}

.container-humidity,
.weather-Wind {
  margin-top: 10px;
}

#weatherIcon {
  width: 150px; 
  height: 150px;
  margin: 10px 0; 
}

#inputText {
  width: 200px;
  border: none;
  padding: 10px;
  outline: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.9);
}

#inputButton {
  border: none;
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  background: #2d98d0;
  border-radius: 5px;
  transition: all 0.1s linear;
}

#inputButton:hover {
  transform: scale(1.1,1.1);
}